---
import "../styles/global.css";
---
<!doctype html>
<html lang="es_PE">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nasca Trails Travel Agency | Authentic experiences in Nazca</title>
		
		<!-- Meta Tags Estándar -->
		<meta name="description" content="Discover the secrets of Nazca with our personalized tours..." />
		<meta name="keywords" content="Nazca, Nazca Lines, Cahuachi, Chauchilla, geoglyphs, aqueducts, tour, travel agency, Peru..." />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Nasca Trails Travel Agency" />
		
		<!-- Meta Tags Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Nasca Trails Travel Agency" />
		<meta property="og:description" content="Exclusive Nazca tours: Nazca Lines, Cahuachi, Chauchilla Cemetery, and more..." />
		<meta property="og:url" content="https://nazcaflightandtours.com/" />
		<meta property="og:image" content="https://nazcaflightandtours.com/og.avif" />
		<meta property="og:site_name" content="Nasca Trails Travel Agency" />
	
		<!-- Meta Tags Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Nasca Trails Travel Agency" />
		<meta name="twitter:description" content="Enjoy a unique experience in Nazca with our specialized tours..." />
		<meta name="twitter:image" content="https://nazcaflightandtours.com/tw.avif" />
	
		<!-- Link Relacionados -->
		<link rel="canonical" href="https://nazcaflightandtours.com/" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		
		<!-- JSON-LD Script -->
		<script type="application/ld+json">
		  {
			"@context": "https://schema.org",
			"@type": "TravelAgency",
			"name": "Nasca Trails Travel Agency",
			"url": "https://nazcaflightandtours.com/",
			"logo": "https://nazcaflightandtours.com/logo.png",
			"image": "https://nazcaflightandtours.com/og.avif",
			"description": "Nasca Trails offers authentic Nasca tours: flights over the lines, archaeological visits, and more.",
			"address": {
			  "@type": "PostalAddress",
			  "addressLocality": "Nasca",
			  "addressRegion": "Ica",
			  "addressCountry": "PE"
			},
			"contactPoint": {
			  "@type": "ContactPoint",
			  "telephone": "+51-992-846-591",
			  "contactType": "customer service",
			  "areaServed": "PE",
			  "availableLanguage": ["English"]
			}
		  }
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>